{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Random Wine</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<script src="{% static 'js/app.js' %}"></script>
</head>
<body id="home">
    {% comment %} KIND OF WINE {% endcomment %}
    <label for="tipo">Tipo de vino:</label>
    <select name="tipo" id="tipo">
    </select>
    {% comment %} PRICE {% endcomment %}
    <label for="quantity">Precio máximo aproximado €:</label>
    <input type="number" id="price" name="price" min="1" value="15"> 
    <input type="button" value="Buscar" onclick="searchWines()">
</body>
</html>