body {
  font-family: 'Lato', sans-serif;
  color: #504f4f;
}
.main {
  max-width: 80%;
  margin: auto;
}
@media (min-width: 768px) {
  .main {
    width: fit-content;
  }
}
.error {
  color: #850404;
}
.container-wine {
  width: fit-content;
  margin: auto;
}
img {
  max-width: 100%;
}
h1 {
  font-size: 26px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}
h2 {
  font-size: 20px;
  margin-bottom: 23px;
}
.form {
  font-size: 18px;
}
.form div {
  margin-top: 12px;
}
.form input[type=button] {
  margin-top: 10px;
}
.container-wine {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 20px;
  padding-bottom: 8px;
  border-radius: 7px;
  margin-top: 30px, 20px, 20px, 20px;
}
.container-wine p {
  font-weight: bold;
}
.container-wine p span {
  font-weight: normal;
}
#image {
  display: flex;
  justify-content: center;
}
#image img {
  height: 300px;
}
